@using CPTool.Application.Features.BrandFeatures.CreateEdit;
@using CPTool.Application.Features.BrandSupplierFeatures.CreateEdit;
@using CPTool.Application.Features.SupplierFeatures.CreateEdit;
@using CPTool.Domain.Entities;



@if (debug)
{

}
<div class="row">
    <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)" />
    </div>
    <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CancelButtonClick" />
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges" />
    </div>
    <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@ReloadButtonClick" />
    </div>
</div>
<div class="col-md-12">
    <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save MwoType</RadzenAlert>
    <RadzenTemplateForm TItem="EditBrandSupplier" Data="@Model" Visible="@(Model != null && canEdit)" Submit="@FormSubmit">
        <CascadingValue Value=@this>

            <SelectTemplate T="EditSupplier" Elements=@RadzenTables.Suppliers
                            Label="Supplier"
                            @bind-Model=@Model.Supplier
                            Required=false
                            PropertyName="Name">

            </SelectTemplate>
            <SelectEnumTemplate T="BrandType" Elements=@(Enum.GetValues<BrandType>()) Label="Type" @bind-Model=@Model.Brand.BrandType Required=true>

            </SelectEnumTemplate>

            @if (Model.Brand.BrandType != BrandType.None)
            {
                <TextBoxTemplate @bind-Value="@Model.Brand.Name" Label=@Model.Brand.BrandType.ToString()
                             Required=true StringsToCompare=@(FilteredList.Select(x => x.Name).ToList())></TextBoxTemplate>



            }
        </CascadingValue>

        <div class="row">
            <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" @onclick:stopPropagation="true" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick" />
            </div>
        </div>
    </RadzenTemplateForm>
</div>

@code {

    bool debug = true;

}
