@typeparam T
@if (debug)
{

}


<div class="col-md-12">

    @foreach (var row in errors)
    {
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">
            @row
        </RadzenAlert>
    }


    <RadzenTemplateForm TItem="T" Data="@Model" Visible="@(Model != null && canEdit)">
        <CascadingValue Value=@this>@ChildContent</CascadingValue>

        <div class="row">
            <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Click=@FormSubmit Disabled=@DisableButtonSave Icon="save" Text="@SaveButtonName" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick" Visible=@VisibleCancelButton />
            </div>
        </div>
    </RadzenTemplateForm>
</div>

@code {
    bool debug = true;
    [Parameter]
    public bool VisibleCancelButton { get; set; } = true;
}